@import 'variables';

.table-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacingMd);

  & span.page-numbers {
    & li.active {
      position: relative;

      & strong {
        font-weight: inherit;
      }

      & a {
        color: var(--colorPrimary);
      }

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background: var(--colorPrimary);
        z-index: 3;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
