body {
  background-color: var(--colorLighterGrey);
}

.container {
  margin: 0 auto;
  padding: 0 var(--spacingSm);

  @media (--minMedium) {
    padding: 0 var(--spacingLg);
    padding-left: calc(var(--spacingLg) + 25rem);
  }
}

.login-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
