h1 {
  @apply --typePageTitle;

  margin: var(--spacingMd) 0;
  line-height: 1;
}

h2 {
  @apply --typePageSubTitle;

  margin: var(--spacingMd) 0;
  line-height: 1;
}

h3 {
  @apply --typePanelTitle;

  margin: var(--spacingMd) 0;
  line-height: 1;
}

h4 {
  @apply --typeMainNav;

  margin: var(--spacingMd) 0;
  line-height: 1;
}

h5 {
  @apply --typeBody;

  line-height: 1;
  margin: var(--spacingMd) 0;
}

h6 {
  @apply --typeLabel;

  line-height: 1;
  margin: var(--spacingMd) 0;
}

.baseline,
body {
  @apply --baseline;
}

/* TEMPORARY STYLES */

a {
  color: inherit;
  text-decoration: none !important;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: var(--colorPrimary);
  }
}
