@import 'variables';

:root {
  --controlsBg: var(--colorLighterGrey);
  --controlsBorder: var(--colorGrey);
  --controlsHeight: 2.5em;
}

.mce-tinymce {
  & > .mce-container-body {
    & > .mce-first {
      background-color: var(--controlsBg) !important;
      padding: 0;
      border: 1px solid var(--controlsBorder) !important;
      border-radius: 3px !important;

      & .mce-button,
      & span,
      & i {
        background: transparent !important;
        color: var(--controlsBorder) !important;
        color: var(--colorTextMedium) !important;
        opacity: 1;
        vertical-align: 0;

        &:hover {
          background: none !important;
          border: none !important;
        }
      }

      & .mce-caret {
        border-top: 4px solid var(--controlsBorder) !important;
      }
    }
  }
}

.mce-container *:not(i) {
  font-size: responsive 1.5rem 1.7rem !important;
  color: var(--colorTextDark) !important;
  font-weight: 300 !important;
  font-family:
    'Roboto Mono',
    Helvetica,
    Verdana,
    Arial,
    monospace !important;
}

.mce-menu-item-preview.mce-active {
  border-left: 5px solid var(--colorPrimary) !important;
  background-color: var(--colorLighterGrey) !important;
}

.material-wysiwyg {
  margin: var(--spacingMd) 0;

  & *:not(i, label) {
    font-size: responsive 1.5rem 1.7rem !important;
    color: var(--colorTextDark) !important;
    font-weight: 300 !important;
    font-family:
      'Roboto Mono',
      Helvetica,
      Verdana,
      Arial,
      monospace !important;
  }

  & label {
    display: block;
    position: relative;
    transform-origin: left top;
    transform: translateY(0) scale(1);
    transition: transform 0.3s ease, color 0.3s ease;
    line-height: 2.4rem;
  }

  & .mce-panel {
    background-color: transparent !important;
    border: none !important;
  }

  & .mce-edit-area {
    position: relative;
    border-bottom: 1px solid black !important;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.2rem;
      position: absolute;
      bottom: -0.1rem;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease;
      background-color: var(--colorPrimary);
    }
  }

  &.is-focussed {
    & .mce-edit-area::after {
      transform: scaleX(1);
    }

    & label {
      color: var(--colorPrimary);
      transform: translateY(-75%) scale(0.75);
    }
  }
}

