@import 'variables';
@import './clock/clock';

:root {
  --sideBarItemHeight: 4rem;
}

@keyframes activeHighlight {
  0% {
    color: var(--colorWhite);
    height: var(--sideBarItemHeight);
  }

  100% {
    color: var(--colorPrimary);
    height: calc(var(--sideBarItemHeight) * 1.5);
  }
}

@keyframes activeHighlightBefore {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(-98%);
  }
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  width: 25rem;
  height: 100%;
  transform: translateX(-25rem);
  z-index: var(--zSidebar);
  background-color: var(--colorWhite);

  & .dashboard {
    display: flex;
    align-items: center;

    & .clock {
      @apply --bentoClock;
    }

    & span {
      position: relative;
      top: 0.2rem;
    }
  }

  &.open {
    transform: translateX(0);
  }

  & .logo {
    padding: var(--spacingMd) 0;
    padding-left: var(--spacingMd);
    margin: 0;
    color: var(--colorPrimary);
  }

  & .sub-title {
    padding: var(--spacingSm) 0;
    padding-left: var(--spacingMd);
    margin: 0;

    & i {
      padding-right: var(--spacingSmMd);
    }

    &.active {
      position: relative;
      background-color: var(--colorLighterGrey);

      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 0.5rem;
        left: 0;
        top: 0;
        background-color: var(--colorPrimary);
      }

      & a {
        color: var(--colorPrimary);
      }

      & a::after {
        background-color: var(--colorAccent);
      }
    }
  }

  & li {
    & a {
      @apply --typeSubNav;

      display: block;
      position: relative;
      line-height: var(--sideBarItemHeight);
      height: var(--sideBarItemHeight);
      padding-left: var(--spacingMd);
      overflow: hidden;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--colorPrimary);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index: -1;
      }

      &:hover {
        color: var(--colorWhite);

        &::before {
          transition: opacity 0.2s ease;
          opacity: 1;
        }
      }
    }

    &.active {
      & a {
        animation: activeHighlight 0.55s ease forwards;
        height: calc(var(--sideBarItemHeight) * 1.5);
        line-height: calc(var(--sideBarItemHeight) * 1.5);
        color: var(--colorPrimary);
        cursor: default;

        &::before {
          animation: activeHighlightBefore 0.55s ease forwards;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--colorLighterGrey);
          width: 100%;
          height: 100%;
          z-index: -2;
        }
      }
    }
  }

  & .logout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--spacingSm) 0;
    padding-left: var(--spacingMd);
    height: 7rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(140, 140, 140, 0.6);

    & a {
      color: var(--colorWhite);
    }

    & i {
      padding-right: var(--spacingSmMd);
    }
  }
}
