@import 'variables';

:root {
  --primaryButton: {
    @apply --typeSubNav;

    border-radius: 3px;
    padding: var(--spacingSm) var(--spacingMd);
    margin: 0;
    cursor: pointer;
    color: var(--colorWhite);
    background-color: var(--colorPrimary);
    height: 5rem;
    line-height: 3rem;
    width: auto;
    white-space: nowrap;
    transition: background-color 0.3s ease;

    & i {
      margin-right: var(--spacingSm);
    }

    &:hover {
      color: var(--colorWhite);
      background-color: var(--colorPrimaryDark);
    }
  };

  --secondaryButton: {
    @apply --typeLabel;

    color: var(--colorDarkerGrey);
    background-color: var(--colorLightGrey);
    border: solid 1px var(--colorGrey);
    height: 3.5rem;
    line-height: 1rem;
    cursor: pointer;
    padding: var(--spacingSm) var(--spacingSmMd);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--colorWhite);
    }
  };

  --floatingButton: {
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--colorPrimaryDark);
    }
  };

  --animatingButtonSettings: {
    & .primary-button {
      @media (--maxMedium) {
        visibility: hidden;
      }

      &.update-create-button {
        top: 2rem;
        right: 6rem;
      }
    }

    & .floating-button {
      @media (--minMedium) {
        visibility: hidden;
      }

      &.update-create-button {
        bottom: 20px;
        right: 10px;
      }
    }

    & .update-create-button {
      position: fixed;
      z-index: var(--zFloatingButton);
    }
  };
}

input[type="submit"],
button,
div {
  &.primary-button {
    @apply --primaryButton;
  }

  &.secondary-button {
    @apply --secondaryButton;
  }

  &.floating-button {
    @apply --floatingButton;
  }
}
